<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.flyingsoftgames.googleplaytoken" version="0.1.0">
 <name>Google Play Token Javascript API</name>
 <description>Get an access token from Google using the Android API from a Javascript function.</description>
 <author>Michael Romanovsky</author>
 <license>MIT (see readme.md)</license>
 <keywords>cordova,phonegap,google play services,token,access token,google,play,google play,google play api,google play services api,play services,play services api,android,agamemnus,flyingsoftgames</keywords>
 <engines><engine name="cordova" version=">=3.0.0" /></engines>
 
 <js-module src="www/googleplaytoken.js" name="GooglePlayToken"><clobbers target="window.plugins.GooglePlayToken" /></js-module>
 <platform name="android">
  <preference name="APP_ID" />
  <config-file target="res/xml/config.xml" parent="/*">
   <feature name="GooglePlayToken">
    <param name="android-package" value="com.flyingsoftgames.googleplaytoken.GooglePlayToken"/>
   </feature>
  </config-file>
  <dependency id="android.support.v4" />
  <dependency id="com.google.playservices" />
  <source-file src="src/android/GooglePlayToken.java" target-dir="src/com/flyingsoftgames/googleplaytoken" />
  <config-file target="AndroidManifest.xml" parent="/manifest">
   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  </config-file>
 </platform>
</plugin>
